.card{
    border: 1px solid black;  
}
.align-right {
    text-align: right;
    background-color: #d1e7dd;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 5px;
    max-width: 60%;
  }
  
  .align-left {
    text-align: left;
    background-color: #d7e5f8;
    padding: 10px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: 5px;
    max-width: 60%;
  }
  