.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;         
    //height: 100vh;            
  }
  
  .display{
    width: 50%;   
    max-width: 600px;          
    margin-bottom: 4px;
    //background-color: #cceeff;     

    border-radius: 8px;
  }

  .typebox{
    width: 50%;  
    max-width: 600px;          
    margin-bottom: 4px;
    //max-width: 600px;       
    //background-color: #cceeff;     
    border-radius: 8px;
  }