.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
  }
  
  .topButton {
    display: flex;
    align-self: flex-start;
    padding: 20px;
    width: 100%;
  }

  .linearButton {
    margin-top: -25px;
    margin-left: -20px;
    transform: scale(0.5);
    transform-origin: center;
    display: block;
  }
  
  .form-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  }
  
  .textbox {
    width: 80%;
    margin-right: 10px;
  }
  
  .buttonContainer {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  .send {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  